@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

/* Navbar */
.custom-navbar {
  font-size: 1.6rem;
  font-family: "Jersey 25";
}

.cs {
  font-family: "Jersey 10";
  font-size: 4rem;
}

@keyframes chaosWiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes chaosGlow {
  0%,
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(255, 0, 255, 0.6);
  }
}

.custom-navbar a:hover {
  animation: chaosWiggle 0.5s ease-in-out infinite,
    chaosGlow 2s ease-in-out infinite;
}

.custom-navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.custom-navbar a:hover::before {
  opacity: 0.3;
}

/* Mobile menu button animation */
.group:hover .group-hover\:rotate-180 {
  transform: rotate(180deg);
}

/* HeroSection */
.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.hero-titles h1 {
  position: relative;
  font-family: "Jersey 10";
  font-size: 9rem;
  color: #ffff;
  transition: 0.3s;
  cursor: pointer;
}
.hero-titles p {
  position: relative;
  font-family: "Jersey 25";
  font-size: 2.2rem;
  color: #ffff;
}
/* BUTTON1 */
.custom-btn1 {
  position: relative;
  color: #ffff;
  font-family: "Jersey 10";
  font-size: 1.5rem;
  background: none;
  border: solid 2px white;
  padding: 0.4rem 3rem;
  transition: 0.5s;
}

@media (min-width: 640px) {
  .custom-btn1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) {
  .custom-btn1 {
    font-size: 2.6rem; /* md:text-lg */
  }
}

@media (min-width: 1024px) {
  .custom-btn1 {
    font-size: 3rem; /* lg:text-xl */
  }
}

/* BUTTON1 */

.custom-btn2 {
  position: relative;

  color: #ffff;
  font-family: "Jersey 10";
  font-size: 2.3rem;
  background: none;
  border: solid 2px white;
  padding: 0.4rem 0.5rem;
  transition: 0.5s;
}
/* HOVERS  */

.custom-btn1:hover,
.custom-btn2:hover {
  background: white;
  color: #000;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
}

/* HeroSection */
